@model IEnumerable<SDS_Programming_Challenge.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quality)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
<input type="button" class="btn btn-info margin-top" value="Simulate Advance 1 Day" onclick="location.href='@Url.Action("QualityUpdate", "Items")'" />
<input type="button" class="btn btn-info margin-top" value="Reset Data" onclick="location.href='@Url.Action("Index", "Home")'" />

